name: Terraform Stage

on:
  workflow_dispatch:

env:
  AWS_REGION: ap-south-1
  TF_VERSION: 1.5.7

jobs:
  terraform:
    runs-on: ubuntu-latest
    environment: stage

    defaults:
      run:
        shell: bash
        working-directory: envs/stage

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - run: terraform init -input=false
      - run: terraform validate
      - run: terraform plan
      - run: terraform apply -auto-approve
